body {
	background-color: lightblue; 
}

.welcome {
	text-align: center;
	margin-top:100px;
	color: white;
    font-size: 60px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
    font-weight: 500;
    position: fixed;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.text-center {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.centeredSignUp {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcomeBack {
    text-align: center;
	margin-top:300px;
	color: white;
    font-size: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
    font-weight: 500;
    position: fixed;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.signUp {
    text-align: center;
	margin-top:300px;
	color: white;
    font-size: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
    font-weight: 500;
    position: fixed;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputBoxSignUp {
  
}

.inputBoxLogin {
   
}



