body {
    background-color: lightblue; 
    height: 100%; 
    display: flex;
    -webkit-box-align:center;
    align-items: center; 
    -webkit-box-pack:center;
    -moz-box-pack: center;
    justify-content: center; 
    /* padding-top: 40px; */
    padding-bottom: 300px;
}

.text-center {
    text-align: center !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}



.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.welcome {
	text-align: center;
	margin-top:100px;
	color: white;
    font-size: 60px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
    font-weight: 500;
    position: fixed;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredSignUp {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcomeBack {
	color: white;
    font-size: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
    font-weight: 500;
}

.centereddiv {
    background-color: #000; 
    position: absolute;
    width: 500px; 
    height: 500px; 
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.signUp {
    text-align: center;
	margin-top:300px;
	color: white;
    font-size: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
    font-weight: 500;
    position: fixed;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
}     

.hide {
    display: none;
}